* {
    padding: 0px;
    margin: 0px;
}

/* --------------------for leptop ------------------*/
@media screen and (min-width:768px) and (max-width:1024px) {
    body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color: #f5f5f5 !important; 
        color: #222 !important;
    }

    #center_div {
        min-width: 100%;
        height: 100%;
        margin-top: 20px;
        box-sizing: border-box;
        border: 1px solid black;
    }

    /* top nav */
    #tool_bar_section {
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        /* border: 1px solid red; */
        padding: 10px 5%;
    }

    .tool_bar {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

    }

    .tool_mid_div {
        width: 45%;
        height: 100%;
    }

    .nac_link {
        font-weight: bold;
    }

    #resume_download {
        background-color: black;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 5%;

    }

    #d_icon {
        font-size: 16px;
        padding-left: 5px;
    }

    /* ----------- hello with pic part --------------*/
    #hellow_section {
        /* border: 1px solid purple; */
        width: 100%;
        height: 450px;
    }

    #main_Grid {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        /* border: 1px solid purple; */
        padding: 10px 5%;

        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 100%;
    }

    #right_top_img {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        object-fit: fill;
        /* border: 1px solid green; */
    }

    #left_bottom_text {
        width: 100%;
        height: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        /* border: 1px solid red; */
    }

    #img_1 {
        width: 100%;
        height: 100%;
    }

    #upper_text {
        width: 100%;
        height: auto;

    }

    .text_thin_black {
        font-weight: 300;
        font-size: 200%;
    }

    .sp {
        margin-left: 5px;
    }

    .text_black {
        font-weight: bolder;
        font-size: 200%;
    }

    .text_white_border_black {
        font-size: 200%;
        color: white;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
        line-height: 16px;
        font-weight: 900;
    }

    #middle_text {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        /* border: 1px solid aqua; */

    }

    #parag_ {

        max-width: 310px;
        font-size: 80%;
        word-wrap: break-word;
        /* border: 1px solid blue; */
    }

    .lower_text {
        width: 100%;
        height: auto;
    }

    .small_icons_box {
        /* flex */
        /* sp space */
        font-size: 100%;
        border: 2px solid black;
        padding: 1%;
    }

    /* ----------------skills-------------- */
    #skills_section {
        width: 100%;
        height: auto;

    }

    #sh {
        /* bt applyed */
    }

    #skills_section {
        /* boot strap */
    }

    #skills {
        width: 70%;
        margin: 2% auto;
    }

    .skills_icons {
        font-size: 120%;
        font-weight: 700;
        border: 2px solid black;
        border-radius: 10px;
        padding: 1%;
    }

    .skills_icons:hover {
        font-size: 120%;
        font-weight: 700;
        border: 2px solid #404040;
        background-color: #404040;
        color: white;
        border-radius: 10px;
        padding: 1%;
    }

    /* ------My academic journey and Internship --------  */

    #AJI {
        width: 100%;
        height: auto;
        background-color: black;
        color: white;
        padding: 10px 5%;
    }

    .text_thin_white {
        font-weight: 300;
        font-size: 200%;
    }

    .text_white {
        font-weight: bolder;
        font-size: 200%;
    }

    #aji_text {
        /* display: block; */
        /* text-align: center; */
        width: 100%;
        height: auto;

    }

    .toggle_Card {
        max-width: 700px;
        /* max-width: 40%; */
        height: auto;
        border: 2px solid #404040;
        border-radius: 10px;
        padding: 1%;
        margin: 2% auto;

    }

    .toggleContent {
        display: none;
    }

    /* ----------------- work----------------- */
    #work {
        width: 100%;
        height: auto;
    }

    .Experience_card {
        max-width: 700px;
        height: auto;
        border: 2px solid #404040;
        border-radius: 10px;
        padding: 1%;
        margin: 2% auto;
    }

    /*--------------about me ---------- */
    #about_me_section {
        width: 100%;
        height: auto;
        padding: 10px 5%;

    }
    .about_me_cont{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;

    }
    #about_me_img{
        width: 100%;
        height: 100%;
    }
    .white_box_with_black_border{
        width: 350px;
        height: 430px;
        margin: 15px 0px;
        /* border: 1px solid black; */
        object-fit: fill;


    }
    .about_right_cont{
        /* display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 2; */
    }
    .about_me_pra{
        margin-left: 20%;
        max-width: 350px;
        /* border: 1px solid purple; */
    }

    /* ------------projects----------- */
    #projects_section{
        width: 100%;
        height: auto;
        padding: 10px 5%;
        background-color: black;
        color: white;
    }
    #project_title_span{
        margin-bottom: 1%;
    }
    /* main one */
    .project_Container_left{
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 200px;
        gap: 35px;
        margin: 30px 5px;
        
    }
    .pro_left_side_img{
        max-width: 320px;
        max-height: 195px;
        border-radius: 20px;
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        object-fit: contain;
    }
    .pro_right_side_txt{
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }


    /* reverse one */
    .project_Container_right{
        /* border: 1px solid red; */
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 200px;
        gap: 35px;
        margin: 50px 5px;
    }
    .pro_right_side_img{
        max-width: 320px;
        max-height: 195px;
        border-radius: 20px;
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        object-fit: contain;
    }
    .pro_left_side_txt{
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-items: end;

    }

    .pro_img_size{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .pro_title_00{
        font-weight: 900;
        font-size: 150%;
        display: flex;
        padding-right: 35px;
    }
    .pro_name{
        font-weight: 900;
        font-size: 130%;
        display: flex;
        padding-right: 35px;
    }
    .pro_graph{
        max-width: 400px;
        font-size: 80%;
        opacity: 0.8;
    }
    .pro_links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .pro_ghub_link{
        text-decoration: none;
        color: black;
        border: 1px solid white;
        padding: 3px 5px;
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
        width: 30%;
        text-align: center;
    }
    .pro_hosted_link{
        text-decoration: none;
        color: black;
        border: 1px solid white;
        padding: 3px 5px;
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
        width: 30%;
        text-align: center;
    }

    /* -----let Tslk for some thing special ----*/
    #contact_me_section{
        width: 100%;
        height: auto;
        padding: 10px 5%;
    }
    /* ----------footer_section---------- */
    #footer_section{
        width: 100%;
        height: auto;
        padding: 10px 5%;
        background-color: white;
        color: black;
    }
    .footer_pag{
        font-size: 80%;
        opacity: 0.8;

    }
    #email{
        font-size: 100% !important;
        font-weight: 700; 
    }
    #phone{
        font-size: 100% !important;
        font-weight: 700; 
    }
    .footer_link{
        color: black;
        /* text-decoration: dotted; */
    }
    .spM{
        padding: 0px 12px;
        /* margin-left: 10%; */
        /* padding: 10%; */
    }
}